body { 
margin:0;
font family:'segeo UL',sans-serif;
background: line-gradient(to right,#6a11cb,#2575fc);
color:#fff;
display:flex;
justify-content:center;
align-items:center;
height: 100vh;
}

.login-container,exam-container,.result-container { 
background-color:rgba(255,255,255,0.1);
padding:30px 40px;
border-radius:10px;
backdrop-filter:blur(10px);
width:100%;
max-width:400px;
box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

h2 {
	text-align:center;
	margin-bottom:20px;
}

from input,from Button {
	width:100%;
	padding:100%;
	margin-top:10px;
	border-radius:5px;
}

input {
	background-color:#ffffff;
	color:#2575fc;
	font-weigh:bold;
	cursor:pointer;
	transition:0.3s;
}

Button:hover {
	background-color:#ddd;
}

.question {
	maegin-buttom:20px;
}
.question labal {
	display:block;
	margin:5px 0;
	cursor:pointer;
}
